@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}
.neubrutal-shadow {
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
}
.neubrutal-shadow-active {
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 1);
}
